<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to my recipes</h1>
    <li><a href="/users/new">Sign Up</a></li>
    <li><a href="/sessions/new">Log In</a></li>
  </body>
</html>
