/* * {
  border: 1px solid gold;
} */

.container {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
body {
  margin: 0;
  background-color: black;
}
/* NAV BAR */
nav {
  border-top: 10px solid black;
  border-right: 10px solid black;
  border-left: 10px solid black;
  background-image: url('https://envato-shoebox-0.imgix.net/9224/81d8-0d33-4497-b2d7-98c733fdeea9/DSC_6985.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=700&s=16847fa97ddd5f56e7d15d63ef822091');
  background-repeat: no-repeat;
  background-size:cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
.index-link {
  font-size: 3em;
  font-family: 'kalam';
  text-decoration-line: none;
  padding-left: 20px;

}

.user-links {
  display:flex;
  flex-direction: column;
  justify-content: space-around;


}
.user-links, ul {
  padding: 0;
  list-style:none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.user-links, li {
  padding-top: 20px;
  padding-right: 20px;
}
.user-links, h1 {
  padding-top: 10px;
  padding-right: 20px;
}
.logout {
  padding-top: 35px;

}
.user-buttons {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  border: 2px solid black;
  padding: 5px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}
/* INDEX PAGE */
.add-new {
  display:block;
  text-align: center;
  text-decoration: none;
  font-size: 2em;
  color: white;

}
.cards-container {
  padding-top: 30px;
  border: 10px solid black;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 80vh;
  background-image: url('https://images.pexels.com/photos/616484/pexels-photo-616484.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
  background-repeat: repeat;
  background-size: cover;
}

.index-card {
  display: inline-flex;
  flex-direction: column;
  flex: 0 0 24%;

  max-height: 300px;
  max-width: 250px;
  margin-top: 30px;
}
.index-card, img {
  height: 100%;
  width: 100%;
  border: 2px solid black;
  box-shadow: 2px 5px black;
  background-image: url('https://envato-shoebox-0.imgix.net/9224/81d8-0d33-4497-b2d7-98c733fdeea9/DSC_6985.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=700&s=16847fa97ddd5f56e7d15d63ef822091');
  background-repeat: no-repeat;
  background-size:cover;
}
.index-card, h2 {
  text-align: center;

  padding: 10px;
  margin:0;
}
/* BUTTONS ON INDEX CARDS */
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5px;
  margin-bottom: 5px;
}
.edit {
  font-size: 2em;
  text-decoration: none;
  background-color: white;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.delete {
  font-size: 1.5em;
  border-radius: 10px;

  width: 100px;
  height: 40px;
  background-color: red;
  margin-bottom: 10px;
}
/* show page */
.show-image {
  width: 60vw;
  background-color: white;
  border: 2px solid black;
  margin: 10px;
}
.ingredients {
 background-color: white;
 font-family: 'kalam';
 display: flex;
 flex-direction: column;
 width: 35vw;
 border: 2px solid black;
 margin: 10px;
 overflow-y: scroll;
}
.ingredients, ul {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
}
.instructions {
  background-color: white;
  font-family: 'kalam';
  margin: 10px;
  padding: 20px;
}
p {
  margin-left: 10px;
  color: white;
}
/* FORMS PAGES */
.forms-page {
  margin: 10px;
  height: 80vh;
  background-image: url('https://image.freepik.com/foto-gratis/fondo-alimentos-ingredientes-pasta_1220-3286.jpg');
  background-repeat: none;
  background-size: cover;

}
.form {
  padding-left: 10px;
  padding-top: 10px;
}
/* Sign up / log in */
.sign-up {
  border: 10px solid black;
  height: 80vh;
  background-image: url('https://us.123rf.com/450wm/milkos/milkos2002/milkos200201665/139944242-cooking-food-happy-chef-guy-holding-plate-smelling-invisible-dish-posing-over-gray-background-studio.jpg?ver=6');
  background-repeat: no-repeat;
  background-size: cover;
}
.log-in {
  border: 10px solid black;
  height: 80vh;
  background-image: url('https://media.istockphoto.com/photos/portrait-of-cheerful-joyful-chef-cook-in-beret-and-white-outfit-with-picture-id970514046?k=6&m=970514046&s=612x612&w=0&h=HHL5VlSRKdkHd_l8GMS5Eo9lZr9RpvaskQdH_gSY2O0=');
  background-repeat: no-repeat;
  background-size: cover;
}
